/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

/public/images/products/*.jpg
/public/images/products/*.png
/public/images/products/*.bmp
/public/images/products/*.gif